{% extends 'base.html.twig' %}

{% block title %}
    Modifier une saison
{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <form method="post">
                <div class="form-group mb-3">
                {{ form_start(form) }}
                    <div id="formdiv">
                        <div class="row" style="margin-right:0px;margin-left:0px;padding-top:24px; margin-top:20px;">
                        <h1 class="display-6" style="text-align:center;">Modifier saison</h1>
                            <div class="col-md-8 offset-md-1">
                                <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px;"><strong>{{ form_label(form.NomSaison) }}</strong></p>
                            </div>
                            <div class="col-md-10 offset-md-1">
                                {{ form_widget(form.NomSaison, {'attr': {'class': 'form-control', 'style': 'margin-left:0px;font-family:Roboto, sans-serif;', 'placeholder' : 'Saison...'}}) }}
                            </div>

                            <div class="col-md-8 offset-md-1">
                                <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:24px; margin-top:5px;"><strong>{{ form_label(form.clientId) }}</strong></p>
                            </div>
                            <div class="col-md-10 offset-md-1">
                                {{ form_widget(form.clientId, {'attr': {'class': 'form-select', 'style': 'margin-left:0px;font-family:Roboto, sans-serif;'}}) }}
                            </div>
                            
                        </div>
                        <div class="row align-items-center" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                            <div class="col-md-10 offset-md-1">
                                <button style="padding:7px 20px 7px; border:none; background:#5DB03E; color:#fff; font-size:16px;" type="submit">Ajouter</button>
                                <button style="padding:7px 20px 7px; border:none; background:#C70039;" type="submit">
                                    <a href="{{ path('app_saison_list') }}" style="text-decoration:none; color:#fff; font-size:16px;">Retour</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </form>
        </div>
    </div>
{% endblock %}