{% extends 'base.html.twig' %}

{% block title %}Ajouter un dossier{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <form method="post" enctype="multipart/form-data" id="inscription">
                <div class="form-group mb-3">
                {{ form_start(form) }}
                    <div id="formdiv">
                        <div class="row" style="margin-right:0px;margin-left:0px;padding-top:24px; margin-top:20px;">
                        <h1 class="display-6" style="text-align:center;">Ajouter dossier technique</h1>
                            <div class="col-md-8 offset-md-1">
                                <p style="font-family:Roboto, sans-serif;font-size:24px;"><strong>{{ form_label(form.Reference) }}</strong></p>
                            </div>
                            <div class="col-md-10 offset-md-1">
                                {{ form_widget(form.Reference, {'attr': {'class': 'form-control', 'style': 'margin-left:0px;font-family:Roboto, sans-serif;', 'placeholder' : 'Reference...'}}) }}
                            </div>

                            <div class="col-md-8 offset-md-1">
                                <p style="font-family:Roboto, sans-serif;font-size:24px;"><strong>{{ form_label(form.TypeFicher, 'Type de fichier', {'attr': {'class': 'form-label'}}) }}</strong></p>
                            </div>
                            <div class="col-md-3 offset-md-1">
                               <div class="col-md-10 offset-md-1">
                                    <div class="form-check">
                                        {{ form_widget(form.TypeFicher.0, {'label_attr': {'class': 'form-check-label'}, 'attr': {'class': 'form-check-input', 'style': 'width: 20px; height: 20px;'}}) }}
                                        <span style="margin-left: 5px;">{{ form_label(form.TypeFicher.0) }}</span>
                                    </div>
                                    <div class="form-check">
                                        {{ form_widget(form.TypeFicher.1, {'label_attr': {'class': 'form-check-label'}, 'attr': {'class': 'form-check-input', 'style': 'width: 20px; height: 20px;'}}) }}
                                        <span style="margin-left: 5px;">{{ form_label(form.TypeFicher.1) }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8 offset-md-1">
                                <p style="font-family:Roboto, sans-serif;font-size:24px;"><strong>{{ form_label(form.saisonId, 'Saisons', {'attr': {'class': 'form-label'}}) }}</strong></p>
                            </div>
                            <div class="col-md-10 offset-md-1">
                                {{ form_widget(form.saisonId, {'attr': {'class': 'form-select', 'style': 'margin-left:0px;font-family:Roboto, sans-serif;', 'placeholder' : 'Selectionner une saison...'}}) }}
                            </div>

                            <div class="col-md-8 offset-md-1">
                                <p style="font-family:Roboto, sans-serif;font-size:24px;"><strong>{{ form_label(form.brochure, 'Sélectionner un fichier :', {'attr': {'class': 'form-label'}}) }}</strong></p>
                            </div>
                            <div class="col-md-10 offset-md-1">
                                {{ form_widget(form.brochure, {'attr': {'class': 'form-control'}}) }}
                            </div>

                        </div>
                        <div class="row align-items-center" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                            <div class="col-md-10 offset-md-1">
                                <button style="padding:7px 20px 7px; border:none; background:#5DB03E; color:#fff; font-size:16px;" type="submit">Ajouter</button>
                                <button id="retourButton" style="padding:7px 20px 7px; border:none; background:#C70039;" type="button">
                                    <a href="#" style="text-decoration:none; color:#fff; font-size:16px;">Retour</a>
                                </button>
                            </div>
                    </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </form>
        </div>
    </div>
    <script>
        document.getElementById("retourButton").onclick = function() {
            window.history.back(); // Cette ligne permet de retourner à la page précédente dans l'historique du navigateur.
        };
    </script>
{% endblock %}
