{% extends 'base.html.twig' %}

{% block title %}Ajouter un client{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <form method="post" id="validation">
                <div class="form-group mb-3">
                {{ form_start(form) }}
                    <div id="formdiv">
                        <div class="row" style="margin-right:0px;margin-left:0px;padding-top:24px; margin-top:20px;">
                        <h1 class="display-6" style="text-align:center;">Ajouter client</h1>
                            <div class="col-md-8 offset-md-1">
                                <p style="font-family:Roboto, sans-serif;font-size:24px;"><strong>{{ form_label(form.NomClient) }}</strong></p>
                            </div>
                            <div class="col-md-10 offset-md-1">{{ form_widget(form.NomClient, {'attr': {'class': 'form-control', 'style': 'margin-left:0px;font-family:Roboto, sans-serif;', 'placeholder' : 'Client...'}}) }}</div>
                        </div>
                        <div class="row align-items-center" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                            <div class="col-md-10 offset-md-1">
                                <button style="padding:7px 20px 7px; border:none; background:#5DB03E; color:#fff; font-size:16px;" type="submit">Ajouter</button>
                                <button style="padding:7px 20px 7px; border:none; background:#C70039;" type="submit">
                                    <a href="{{ path('app_client_list') }}" style="text-decoration:none; color:#fff; font-size:16px;">Retour</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </form>
        </div>
    </div>
{% endblock %}
