<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}{% endblock %}
        {# Feuilles de style css #}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset('node_modules/@fortawesome/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/Responsive-Form.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/Responsive-Form-Contact-Form-Clean.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/MUSA_panel-table.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/MUSA_panel-table-panel-table.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/wtg-alert.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/wtg-alert-wtg-components.css') }}">
        
        <link rel="stylesheet" href="{{ asset('assets/boldBS4/Bold-BS4-Cards-with-Hover-Effect-50.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/boldBS4/Bold-BS4-Cards-with-Hover-Effect-50-hover_effect_050.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/boldBS4/Bold-BS4-Cards-with-Hover-Effect-92.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/boldBS4/Bold-BS4-Cards-with-Hover-Effect-92-hover_effect_style_092.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/boldBS4/Card-hover-affect-2.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/boldBS4/dh-card-image-left-dark.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/boldBS4/wtg-alert.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/boldBS4/wtg-alert-wtg-components.css') }}"> 
        <link rel="stylesheet" href="{{ asset('assets/css/dh-card-image-left-dark.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/tiny-slider.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/about.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/drop.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/aos.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/Contact-Details-icons.css') }}">


    {% block javascripts %}{% block importmap %}{{ importmap('app') }}{% endblock %}{% endblock %}
        {# Feuille de style js #}
        <script src="{{ asset('assets/js/bootstrap.min.js') }}" defer></script>
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script>
		<script src="{{ asset('assets/js/Card-hover-affect-2-card-1.js') }}" defer></script>
		<script src="{{ asset('assets/js/script.js') }}" defer></script>
		<script src="{{ asset('assets/js/aos.min.js') }}" defer></script>
		<script src="{{ asset('assets/js/bs-init.js') }}" defer></script>

    </head>
    <body>

        {% include '_partials/_navbar.html.twig' %}
        {% block body %}{% endblock %}

    </body>
</html>
